/* MASTER CSS FILE */
body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* HEADER */

header div {
  width: 100vw;
  height:44px;

  background-color: #333333EE;
}

header ul {
  width: 1000px;
  height: 100%;

  margin: 0 auto;

  /* background-color: #666; */
}

header ul li{
  width: 10%;
  height: 100%;

  text-align: center;
  line-height: 44px;
  color: #FFF;
  font-weight: 300;
  letter-spacing: .08;
  font-size: .85em;

  float: left;
  display: inline-block;

  cursor: pointer;
  user-select: none;
  transition: .2s;
  /* background-color: #999; */

}

    header ul li:hover{
      color: #B7B7B7;
      transition: .2s;
    }

/* Apple Logo */
header ul li:first-child{
  font-size: 1.35em;
}

/* Search Icon */
header ul li:nth-child(9){
  background:url('https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/search/image_large.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

header ul li:nth-child(10){
  background:url('https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/bag/image_large.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* footer{
  background-color: #F2F2F2;
} */

/* footer div:firstchild{
  width: 100vw;
  height: 314.34px;
  background-color: #F2F2F2;
} */

/* .supportFooterMenu{
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  width: 25%;
  font-size: .8em;
  background-color: #F2F2F2;
} */

nav div{
  width: 100vw;
  height: 45px;

  background-color: #888888aa;
}

nav ul{
  width: 1000px;
  height: 100%;

  margin: 0 auto;
  padding: 0 22 0 22;
  border-bottom: solid .2px black;
}

nav ul li{
  display: inline-block;
}

nav ul li:first-child{
  font-size: 1.4em;
  font-weight: 400;

  line-height: 45px;
  margin-left: 4%;
  margin-right: 61%;
}

nav ul li:nth-child(2){
  margin-right: 2%;
}

nav ul li:last-child{
  margin-right: 0;
}
